<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<span style="font-size: 20px;">Welcome, <span th:text="${username}"></span> <br><br></span>
<div><span style="font-size: 20px;">Click the link below to verify your account</span></div>
<h2><br></h2>
<h2><a th:href="${verifyURL}" target="_self">VERIFY</a></h2>
<div><span style="font-size: 20px;"><br></span>
    <div><span style="font-size: 20px;"><br>Sincerely yours,<br>GB-Library team</span><span
            style="font-size: 16px;"></span><span style="font-size: 16px;"></span></div>
</div>
</body>
</html>