<div>
    <div style="padding-left: 550px; padding-right: 550px;">
        <div style="padding: 35px 75px 35px 75px; margin-top: 100px; border-radius: 15px; background: white; box-shadow: 0px 1px 2px 1px lightgray;">
            <header style="margin-bottom: 55px; text-align: center;">
                <h3>Регистрация</h3>
            </header>
            <form class="form-floating" novalidate ng-submit="preregisterCheck()">
                <div class="form-floating">
                    <input type="email" class="form-control" id="firstName" ng-model="new_user.firstName"
                           placeholder="Имя" required minlength="6">
                    <label for="loginField">Имя</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="email" class="form-control" id="lastName" ng-model="new_user.lastName"
                           placeholder="Фамилия" required minlength="6">
                    <label for="loginField">Фамилия</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="email" class="form-control" id="loginField" ng-model="new_user.email"
                           placeholder="E-mail" required minlength="6">
                    <label for="loginField">E-mail</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="password" class="form-control" id="passwordField" ng-model="new_user.password"
                           placeholder="Пароль" required minlength="6">
                    <label for="passwordField">Пароль</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="password" class="form-control" id="passwordConfirmField" ng-model="confirmPassword"
                           placeholder="Подтвердите пароль" required minlength="6">
                    <label for="passwordField">Подвердите пароль</label>
                    <a style="font-size: x-small;" href="#!/authentication">
                        У меня уже есть аккаунт...</a><br>
                </div>
                <p></p>
                <button type="submit" class="btn btn-primary"
                        style="position: relative; left: 50%; transform: translate(-50%, 0); margin-top: 35px;">
                    Зарегистрироваться
                </button>
            </form>

        </div>
    </div>
</div>

