<div>
    <div style="padding-left: 550px; padding-right: 550px;">
        <div style="padding: 25px 55px 25px 55px; margin-top: 65px; border-radius: 15px; background: white; box-shadow: 0px 1px 2px 1px lightgray;">
            <header style="margin-bottom: 35px; text-align: center;">
                <h3>Регистрация</h3>
            </header>
            <form ng-submit="preregisterCheck()">
                <input class="form-control" type="text" placeholder="Имя" ng-model="new_user.firstName"
                       required minlength="2">
                <p></p>
                <input class="form-control" type="text" placeholder="Фамилия" ng-model="new_user.lastName"
                       required minlength="2">
                <p></p>
                <input class="form-control" type="email" placeholder="E-mail" ng-model="new_user.email"
                       required minlength="6">
                <p></p>
                <input id="password" class="form-control" type="password" placeholder="Пароль"
                       ng-model="new_user.password" required minlength="6">
                <p></p>
                <input class="form-control" type="password" placeholder="Потдвердите пароль" ng-model="confirmPassword">
                <button type="submit" class="btn btn-primary"
                        style="position: relative; left: 50%; transform: translate(-50%, 0); margin-top: 35px;">Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
</div>