<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/roles}">Роли</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/roles/new}">Создать новую</a>
                            <a class="dropdown-item" th:href="@{/roles}">Посмотреть все</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/users}">Пользователи</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/users/new}">Создать нового</a>
                            <a class="dropdown-item" th:href="@{/users}">Посмотреть всех</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/genres}">Жанры</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/genres/new}">Добавить новый</a>
                            <a class="dropdown-item" th:href="@{/genres}">Посмотреть все</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/authors}">Авторы</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/authors/new}">Добавить нового</a>
                            <a class="dropdown-item" th:href="@{/authors}">Посмотреть всех</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/world-books}">Мировые книги</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/world-books/new}">Добавить новую</a>
                            <a class="dropdown-item" th:href="@{/world-books}">Посмотреть все</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/lib-books}">Книги библиотеки</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/lib-books/new}">Добавить новую</a>
                            <a class="dropdown-item" th:href="@{/lib-books}">Посмотреть все</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/ordered-books}">Выданные книги</a>
<!--                        <div class="dropdown-menu">-->
<!--&lt;!&ndash;                            <a class="dropdown-item" th:href="@{/ordered-books/new}">Добавить новый</a>&ndash;&gt;-->
<!--                            <a class="dropdown-item" th:href="@{/roles}">Посмотреть все</a>-->
<!--                        </div>-->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/reserved-books}">Брони книг</a>
                        <!--                        <div class="dropdown-menu">-->
                        <!--&lt;!&ndash;                            <a class="dropdown-item" th:href="@{/ordered-books/new}">Добавить новый</a>&ndash;&gt;-->
                        <!--                            <a class="dropdown-item" th:href="@{/roles}">Посмотреть все</a>-->
                        <!--                        </div>-->
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>