<div>
    <div style="padding-left: 550px; padding-right: 550px;">
        <div style="padding: 25px 55px 25px 55px; margin-top: 65px; border-radius: 15px; background: white; box-shadow: 0px 1px 2px 1px lightgray;">
            <header style="margin-bottom: 35px; text-align: center;">
                <h3>Информация об аккаунте</h3>
            </header>
            <form class="form-floating" novalidate ng-submit="updateUser()" ng-show="userInfo">
                <div hidden class="form-floating">
                    <input ng-model="updated_user.userId" type="text" class="form-control" id="idValue" placeholder="Id"
                           value={{userInfo.userId}}>
                    <label for="idValue">ID</label>
                    <p></p>
                </div>
                <div class="form-floating">
                    <input ng-model="updated_user.firstName" type="text" class="form-control" id="firstName"
                           placeholder="firstName"
                           ng-value=userInfo.first_name>
                    <label for="firstName">Имя</label>
                    <p></p>
                </div>
                <div class="form-floating">
                    <input ng-model="updated_user.lastName" type="text" class="form-control" id="lastName"
                           placeholder="lastName"
                           ng-value=userInfo.last_name>
                    <label for="idValue">Фамилия</label>
                    <p></p>
                </div>
                <div class="form-floating">
                    <input ng-model="updated_user.email" type="email" class="form-control" id="email"
                           placeholder="email"
                           ng-value=userInfo.email>
                    <label for="idValue">Почта</label>
                    <p></p>
                </div>
                <div class="form-floating">
                    <input ng-model="updated_user.password" type="password" class="form-control" id="password"
                           placeholder="Id"
                           ng-value=userInfo.password>
                    <label for="idValue">Пароль</label>
                    <p></p>
                </div>
                <button type="submit" class="btn btn-primary"
                        style="position: relative; left: 50%; transform: translate(-50%, 0); margin-top: 35px;">
                    Сохранить изменения
                </button>
            </form>
        </div>
    </div>
</div>