<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: page_head(${pageTitle}, 'none')}"></head>
<body>
  <div class="container-fluid">
      <div th:insert="~{navigation :: menu}"></div>

      <div>
          <h2>Справочник "Книжные жанры"  | [[${pageTitle}]]</h2>
      </div>

      <form th:action="@{/genres/save}" method="post" style="max-width: 500px; margin: 0 auto"
            enctype="multipart/form-data"
            th:object="${genre}"
            onsubmit="return checkGenreUnique(this);">

          <input type="hidden" th:field="*{id}">

          <div class="border border-secondary rounded p-3">

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Name:</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" th:field="*{name}"
                                required minlength="2" maxlength="40"/>
                  </div>
              </div>
              <div class="form-group row mt-2">
                  <label class="col-sm-4 col-form-label">Description:</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" th:field="*{description}"
                             required minlength="2" maxlength="200"/>
                  </div>
              </div>

              <div class="text-center">
                  <input type="submit" value="Save" class="btn btn-primary m-3"/>
                  <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
              </div>

          </div>

      </form>

      <div th:insert="~{fragments_modal :: modal_dialog}"></div>

      <div th:insert="~{fragments :: footer}"></div>
  </div>

<script type="text/javascript">

    module_URI = "[[@{/genres}]]";

    function checkGenreUnique(form){
        let gId          = $("#id").val();
        let gName        = $("#name").val();

        let csrfValue   = $("input[name='_csrf']").val();
        let uri = "[[@{/genres/check_unique}]]";

        let params = {id: gId, name: gName, _csrf: csrfValue};

        console.log("отправка на сервер");

        $.post(uri, params, function (response){
            console.log(response);
            if (response === "OK") {
                form.submit();
            } else if (response === "Duplicate") {
                showWarningModal("Уже существует жанр с таким названием - " + gName);
            } else {
                showErrorModal("Неизвестный ответ от сервера");
            }
        }).fail(function (){
            showErrorModal("Ошибка соединения с сервером.");
            }
        );
        return false;
    }
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>