<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Пользователи - админка библиотеки', 'none')}"></head>
<body>
<div class="container-fluid">

    <div th:replace="~{navigation :: menu}"></div>

    <div>
        <h2>Управление пользователями</h2>
        <a th:href="@{/users/new}" class="fas fa-solid fa-square-plus fa-2x icon-green mr-2"
         title="Добавить нового"></a>
    </div>

    <div th:replace="~{fragments :: search_form_and_message}"></div>

  <div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="table-dark">
      <tr>
        <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('id', 'ID', 'tag')}"></th>
        </th>
        <th class="hideable-column">
            <th th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}"></th>
        </th>
        <th th:replace="~{fragments :: column_link('firstName', 'Имя', 'none')}"></th>
        <th th:replace="~{fragments :: column_link('lastName', 'Фамилия', 'none')}"></th>
        <th class="col-2">Роли</th>
        <th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}"></th>
        <th class="hideable-column col-1">Добавлен</th>
        <th class="hideable-column col-1">Обновлён</th>
        <th class="col-1"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${entitiesList}">
        <td class="hideable-column col-1">[[${user.id}]]</td>
        <td class="hideable-column">[[${user.email}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.roles}]]</td>
        <td>
          <div th:replace="~{fragments :: entity_status(${user.enabled}, '/users/'+${user.id} )}"></div>
        </td>
        <th class="hideable-column col-1">
          <div th:replace="~{fragments :: format_time(${user.createdAt})}"></div>
        </th>
        <th class="hideable-column col-1">
          <div th:replace="~{fragments :: format_time(${user.updatedAt})}"></div>
        </th>
        <td class="col-1">
          <a th:insert="~{fragments :: entity_edit('/users/edit/' + ${user.id})}"></a>
          &nbsp;
          <a th:insert="~{fragments :: entity_delete('/users/delete/' + ${user.id}, ${user.id})}"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="less-details">
    <div th:each="user : ${entitiesList}" class="row m-1 border">
      <div class="col">
        <div><h5>[[${user.fullName}]]</h5></div>
        <div>[[${user.roles}]]</div>
        <div class="mt-2">
          <div th:replace="~{fragments :: entity_status(${user.enabled}, '/users/'+${user.id} )}"></div>
          &nbsp;
          <a th:insert="~{fragments :: entity_edit('/users/edit/' + ${user.id})}"></a>
          &nbsp;
          <a th:insert="~{fragments :: entity_delete('/users/delete/' + ${user.id}, ${user.id})}"></a>
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>

    <div th:insert="~{fragments_modal :: modal_confirmation('Подтвердите удаление')}"></div>

    <div th:insert="~{navigation :: pagination}"></div>

    <div th:insert="~{fragments :: footer}"></div>

</div>
<script type="text/javascript">

  module_URI = "[[@{/users}]]";

  $(document).ready(function (){
    $(".link-delete").on("click", function (e){
      e.preventDefault();
      showDeleteConfirmModal($(this));
    });
  });

</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>