<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta charset="UTF-8"
          http-equiv="Content-Type" content="text/html">

    <meta name="viewport" content="width=device-width,
                                      initial-scale=1.0,
                                      minimum-scale=1.0">
    <title>[[${title}]]</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

    <div th:fragment="search_form_and_message">
        <form th:action="@{${moduleURL} + '/page/1'}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <label>
                Поиск:&nbsp;
                <input type="search" name="keyword" class="form-control" th:value="${keyword}" required/>
            </label>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" onclick="clearFilter(module_URI)">
                <i class="fas fa-delete-left"></i>
            </button>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center" role="alert">
            [[${message}]]
        </div>
    </div>

    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-white"
           th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}
                              + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir}
                              + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columnLabel}]]
        </a>

        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>

    <div th:fragment="entity_status(enabled, entityURL)" th:remove="tag">
        <a th:if="${enabled == true}" class="fa-solid fa-toggle-on fa-2x icon-green"
           th:href="@{${entityURL} + '/enabled/false' }" th:title="'Отключить доступность'"></a>
        <a th:if="${enabled != true}" class="fa-solid fa-toggle-off fa-2x icon-red"
           th:href="@{${entityURL} + '/enabled/true'}" th:title="'Сделать доступным'"></a>
    </div>


    <a th:fragment="entity_edit(editURL)" class="fas fa-edit fa-2x icon-green"
       th:href="@{${editURL}}" th:title="'Редактировать запись'"></a>
    <a th:fragment="entity_delete(deleteURL, entityID)" class="fas fa-trash fa-2x icon-dark link-delete"
       th:href="@{${deleteURL}}" th:entityID="${entityID}" th:title="'Удалить запись'"></a>


    <div th:fragment="format_time(dateTime)" th:remove="tag">
        <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>


    <div th:fragment="footer" class="text-center m-2">
        <hr>
        <p>Library Control Panel - Copyright &copy; GeekBrains Java faculty</p>
    </div>

</body>
</html>