<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: page_head('Home page - Library Admin', 'none')}"></head>

<body>
<div class="container-fluid">

    <h1>Доступ к панели администратора портала библиотеки.</h1>

    <div th:if="${param.error}">Неверные имя пользователя или пароль</div>
    <div th:if="${param.logout}">Выход выполнен успешно</div>

    <form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">E-mail: </label>
        <input type="text" name="username" id="username"/><br/>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password"/><br/>
        <input type="submit" value="Login"/>
    </form>

    <div th:replace="~{fragments :: footer}"></div>
</div>
</body>
</html>