<div>
    <div style="padding-left: 100px; padding-right: 100px;">
        <div>
            <h3 style="margin-top: 20px; padding-bottom: 15px">Список желаемого</h3>
        </div>
        <div style="padding: 25px 35px 25px 35px; border-radius: 15px;
         background: white; box-shadow: 0px 1px 2px 1px lightgray;">
            <div id="emptyWishlistPanel" style="display: none;">
                <h5>В списке пока нет ни одной желаемой книги
                    <a class="btn btn-primary" href="#!/books_catalog"
                       style="margin-left: 10px;">Перейти в каталог</a></h5>
            </div>
            <div id="wishlistTable">
                <table style="width: 100%!important;" class="table">
                    <thead>
                    <tr>
                        <td hidden>id</td>
                        <td>Автор</td>
                        <td>Название</td>
                        <td>Жанр</td>
                        <td>Ограничение</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="b in booksWishlist.content">
                        <td hidden>{{b.id}}</td>
                        <td>{{b.book.authorDTO.firstName + ' ' + b.book.authorDTO.lastName}}</td>
                        <td>{{b.book.title}}</td>
                        <td>{{b.book.genreDTO.name}}</td>
                        <td>{{b.book.ageRating}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="removeCurrentBookFromWishlist(b.id)">Убрать</button>
                            <button class="btn btn-primary">Забронировать</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div id="navigation">
            <nav aria-label="Page navigation">
                <ul class="pagination"
                    style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px; border-radius: 15px; background: white; box-shadow: 0px 1px 2px 1px lightgray;">
                    <li class="page-item" ng-repeat="pageIndex in pagesNav">
                        <button class="page-link" ng-click="loadBooksWishlist(pageIndex)">{{pageIndex}}
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>