<div class="main_directories container">
    <div id="booksList">
        <div style="padding-top: 25px;">
            <button class="button_switch" ng-click="goToEdit(0)">Добавить запись</button>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr style="font-weight: bold;">
                <td></td>
                <td>Название</td>
                <td>Автор</td>
                <td>Жанр</td>
                <td>Описание</td>
                <td>Возраст</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input name="title" type="text" id="input_title" placeholder="фильтр">
                </td>
                <td>
                    <input name="author" type="text" id="input_author" placeholder="фильтр">
                </td>
                <td>
                    <input name="genre" type="text" id="input_genre" placeholder="фильтр">
                </td>
                <td>
                    <input name="description" type="text" id="input_description" placeholder="фильтр">
                </td>
                <td><select id="selectAge">
                    <option value=>all</option>
                    <option value=G>0+</option>
                    <option value=PG>?+</option>
                    <option value=PG13>13+</option>
                    <option value=R>18+</option>
                </select>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in booksList">
                <td>
                    <button class="button_action" ng-click="addBookToLibrary(s.id)">Добавить в </br>картотеку
                    </button>
                </td>
                <td>{{s.title}}</td>
                <td>{{s.authorDTO.firstName}} {{s.authorDTO.lastName}}</td>
                <td>{{s.genreDTO.name}}</td>
                <td>{{s.description}}</td>
                <td>{{s.ageRating}}</td>
            </tbody>
        </table>
    </div>


    <div id="editForm" style="display:none">
        <button class="button_switch" style="margin-top: 25px;" ng-click="goToEdit(-10)">Вернуться к списку книг</button>
        <br>
        <form class="edit_form" novalidate ng-submit="saveBook()">
            <br><br>
            <label>Название:
                <input class="form-control" type="text" id="edit_name" placeholder="" ng-model="newBook.name">
            </label>
            <label>Описание:
                <input class="form-control" type="text" id="edit_description" placeholder=""
                       ng-model="newBook.description">
            </label>
            <label>Автор:
                <select id="selectAuthor">
                </select>
            </label>
            <label>Жанр:
                <select id="selectGenre">
                </select>
            </label>
            <label>Возрастное ограничение:
                <select id="selectAgeRating">
                    <option value=G>0+</option>
                    <option value=PG>?+</option>
                    <option value=PG13>13+</option>
                    <option value=R>18+</option>
                </select>
            </label>
            <p></p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

    <div id="addToLibraryForm" style="display:none">
        <button class="button_switch" style="margin-top: 25px;" ng-click="goToEdit(-10)">Вернуться к списку книг</button>
        <br>
        <form class="edit_form" novalidate ng-submit="addLibraryBook()">
            <br><br>
            <h3 id="book_name"></h3>
            <h5 id="book_author"></h5>
            <p id="book_id"></p>
            <br>
            <label>Издатель:
                <input class="form-control" type="text" id="addBook_publisher" placeholder=""
                       ng-model="book.publisher">
            </label>
            <label>ISBN:
                <input class="form-control" type="text" id="addBook_isbn" placeholder="" ng-model="book.isbn">
            </label>
            <label>Инвентарный номер:
                <input class="form-control" type="text" id="addBook_inventoryNumber" placeholder=""
                       ng-model="book.inventoryNumber">
            </label>
            <p>Расположение:</p>
            <label> Зона:
                <select id="selectZone">
                </select>
                Сектор:
                <select style="width: 100px;" id="selectSector">
                </select>
            </label>
            <p></p>
            <button type="submit" class="btn btn-primary">Добавить в картотеку</button>
        </form>
    </div>
</div>