<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Места хранения - админка библиотеки', 'none')}">
</head>
<body>
<div class="container-fluid">
  <div th:replace="~{navigation :: menu}"></div>

  <div>
    <h2>Справочник "Места хранения книг"</h2>
    <a th:href="@{/storages/new}" class="fas fa-solid fa-square-plus fa-2x icon-green mr-2"
       title="Добавить нового"></a>
  </div>

  <div th:replace="~{fragments :: search_form_and_message}"></div>


  <div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="table-dark">
      <tr>
        <th class="hideable-column col-1">ID</th>
        <th th:replace="~{fragments :: column_link('zone', 'Зона', 'none')}"></th>
        <th th:replace="~{fragments :: column_link('sector', 'Секция', 'none')}"></th>
        <th class="col-1">Используется</th>
        <th class="hideable-column col-1">Добавлен</th>
        <th class="hideable-column col-1">Обновлён</th>
        <th class="col-1"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="storage : ${entitiesList}">
        <td class="hideable-column col-1">[[${storage.id}]]</td>
        <td>[[${storage.zone}]]</td>
        <td>[[${storage.sector}]]</td>
        <td>
          <div th:replace="fragments :: entity_status(${storage.available}, '/storages/'+${storage.id} )"></div>
        </td>
        <th class="hideable-column col-1">
          <div th:replace="~{fragments :: format_time(${storage.createdAt})}"></div>
        </th>
        <th class="hideable-column col-1">
          <div th:replace="~{fragments :: format_time(${storage.updatedAt})}"></div>
        </th>
        <td class="col-1">
          <a th:replace="~{fragments :: entity_edit('/storages/edit/' + ${storage.id})}"></a>
          &nbsp;
          <a th:replace="~{fragments :: entity_delete('/storages/delete/' + ${storage.id}, ${storage.id})}"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="less-details">
    <div th:each="storage : ${entitiesList}" class="row m-1 border">
      <div class="col">
        <div><h5>[[${storage.zone}]] | [[${storage.sector}]]</h5></div>
        <div>
          <div th:replace="fragments :: entity_status(${storage.available}, '/storages/'+${storage.id} )"></div>
        </div>
        <div class="mt-2">
          <a th:replace="~{fragments :: entity_edit('/storages/edit/' + ${storage.id})}"></a>
          &nbsp;
          <a th:replace="~{fragments :: entity_delete('/storages/delete/' + ${storage.id}, ${storage.id})}"></a>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments_modal :: modal_confirmation('Подтвердите удаление')}"></div>

  <div th:replace="~{navigation :: pagination}"></div>

  <div th:replace="~{fragments :: footer}"></div>
</div>
<script type="text/javascript">

  module_URI = "[[@{/storages}]]";

  $(document).ready(function (){
    $(".link-delete").on("click", function (e){
      e.preventDefault();
      showDeleteConfirmModal($(this));
    });
  });

</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>