<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>

<body ng-app="employee-front">
<div ng-controller="locationsController" style="  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;">
    <div class="top">
        <div class="container top__content">
            <div class="menu">
                <a class="inactive_item" href="../books.html">Каталог книг</a>
                <a class="inactive_item" href="../readers.html">Читатели</a>
                <a class="inactive_item" href="../orders.html">Заказы/бронь</a>
                <a class="active_item" href="../directories.html">Справочники</a>
            </div>
        </div>
    </div>


    <div class="container top__content">
        <div class="menu_2">
            <a class="inactive_item" href="authors.html">Авторы</a>
            <a class="inactive_item" href="genres.html">Жанры</a>
            <a class="active_item" href="locations.html">Книжные полки</a>
            <a class="inactive_item" href="world_books.html">Книги мира</a>
        </div>
    </div>

    <div class="main container">
        <div id="booksList">
            <p></p>
            <div>
                <button class="button_switch" ng-click="showCreateNewZoneForm()">Добавить запись</button>
            </div>
            <br>
            <table class="table" style="text-align: left;">
                <thead>
                <tr style="font-weight: bold;">
                    <td style="text-align: left"><b>Зона</b></td>
                    <td style="text-align: left"><b>Сектор</b></td>
                    <td style="text-align: left"><b>Доступность</b></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="фильтр" id="zoneFilter">
                    </td>
                    <td>
                        <input type="text" placeholder="фильтр" id="sectorFilter">
                    </td>
                    <td>
                        <input type="text" placeholder="фильтр" id="availableFilter">
                    </td>
                </tr>
                </thead>
                <tbody ng-repeat="zone in zoneList">
                <tr>
                    <td>
                        <button style="font-weight: bold; font-size: large; background: none; border: none;"
                                ng-click="showZoneInfo(zone.zone)">{{zone.zone}}
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="sec in zone.sectors">
                    <td></td>
                    <td style="text-align: left">{{sec.sector}}</td>
                    <td style="text-align: left">{{sec.isAvailable}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="zone_info" style="display: none;">
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="backToLocations()">Вернуться к списку</button>
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="showEditZoneForm(zoneTitle)">Редактировать</button>
            <div style="margin-top: 25px; padding-top: 10px; font-size: medium;">
                <h5 style="padding-bottom: 10px;">Информация</h5>
                <p>Название зоны: {{zoneTitle}}</p>
                <p>Общее количество секторов: {{sectorsList.length}}</p>
                <p>Количество доступных секторов: {{availableCount}}</p>
                <p>Количество недоступных секторов: {{unavailableCount}}</p>
            </div>
            <div style="margin-top: 25px; font-size: medium; text-align: center;">
                <table class="table">
                    <thead>
                    <tr style="font-weight: bold;">
                        <td>Сектор</td>
                        <td>Доступность</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sector in sectorsList">
                        <td>{{sector.sector}}</td>
                        <td>{{sector.isAvailable}}</td>
                        <td>
                            <button class="button_switch" style="width: 210px;" style="" ng-click="showEditSectorForm(zoneTitle, sector.sector, sector.isAvailable)">Изменить</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="edit_zone_info" style="display: none;">
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="showZoneInfo(zoneTitle)">Отменить</button>
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="deleteCurrentZone(zoneTitle)">Удалить запись</button>
            <div style="margin-top: 25px; padding-top: 10px; font-size: medium;">
                <h5 style="padding-bottom: 10px;">Информация</h5>
                <p>Название зоны: {{zoneTitle}}</p>
                <p>Общее количество секторов: {{sectorsList.length}}</p>
                <p>Количество доступных секторов: {{availableCount}}</p>
                <p>Количество недоступных секторов: {{unavailableCount}}</p>
            </div>
            <div style="margin-top: 25px; font-size: medium; text-align: center;">
                <table class="table">
                    <thead>
                    <tr style="font-weight: bold;">
                        <td hidden></td>
                        <td>Сектор</td>
                        <td>Доступность</td>
                        <td><button class="button_switch" style="width: 210px" ng-click="showCreateNewSectorForm(zoneTitle)">Добавить сектор</button></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sector in sectorsList">
                        <td hidden>{{sector.id}}</td>
                        <td>{{sector.sector}}</td>
                        <td>{{sector.isAvailable}}</td>
                        <td>
                            <button id="deleteBtn" class="button_switch" style="width: 210px" ng-click="deleteSector(zoneTitle, sector.id)">Удалить</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="createNewZoneForm" style="display: none;">
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="backToLocations()">Вернуться к списку</button>
            <p></p>
            <form class="edit_form" novalidate ng-submit="addNewZone()">
                <p>Название зоны: </p>
                <input class="form-control" type="text" id="newZoneTitle" style="width: 500px;"
                       ng-model="new_zone.zone">
                <p></p>
                <p>Название сектора:</p>
                <input class="form-control" type="text" id="newZoneSector" style="width: 500px;" ng-model="new_zone.sector">
                <p></p>
                <p>Доступность сектора:</p>
                <select class="form-select" id="newZoneSectorAvailable" aria-label="Default select example"
                        style="width: 250px;">
                    <option selected ng-value="true">true</option>
                    <option ng-value="false">false</option>
                </select>
                <p></p>
                <button type="submit" class="button_switch">Добавить запись</button>
            </form>
        </div>

        <div id="createNewSectorForm" style="display: none;">
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="showEditZoneForm(zoneTitle)">Отменить</button>
            <p></p>
            <form class="edit_form" novalidate ng-submit="addNewSector()">
                <input class="form-control" ng-value="zoneTitle" type="text" id="currentZoneTitle" style="width: 500px;"
                       ng-model="new_sector.zone">
                <p></p>
                <p>Название сектора:</p>
                <input class="form-control" type="text" style="width: 500px;" id="newSectorTitle" ng-model="new_sector.sector">
                <p></p>
                <p>Доступность сектора:</p>
                <select class="form-select" id="newSectorAvailable" aria-label="Default select example"
                        style="width: 250px;">
                    <option selected ng-value="true">true</option>
                    <option ng-value="false">false</option>
                </select>
                <p></p>
                <button type="submit" class="button_switch">Добавить сектор</button>
            </form>
        </div>

        <div id="editCurrentSector" style="display: none;">
            <p></p>
            <button class="button_switch" style="width: 210px" ng-click="showZoneInfo(zoneTitle)">Отменить</button>
            <p></p>
            <form class="edit_form" novalidate ng-submit="updateSector()">
                <input hidden id="zoneTitle" type="text" ng-model="edit_sector.zone">
                <p></p>
                <p>Название сектора:</p>
                <input class="form-control" style="width: 500px;" type="text" id="editSectorTitle" ng-model="edit_sector.sector">
                <p></p>
                <p>Доступность сектора:</p>
                <select class="form-select" id="editSectorAvailable" aria-label="Default select example"
                        ng-model="edit_sector.available" style="width: 250px;">
                    <option ng-value="true">true</option>
                    <option ng-value="false">false</option>
                </select>
                <p></p>
                <button type="submit" class="button_switch">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<script src="../main.js"></script>
<script src="locations.js"></script>
</body>
</html>