.container {
    max-width: 1140px;
    margin: 0 auto;
}

/*сделал для себя, удобно видеть границы*/
/*.border {*/
/*    border: 1px solid black;*/
/*    padding: 1px;*/
/*}*/

form.dropdown-menu.p-4.show {
    width: 250px;
}

.nav-link{

}