# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/*
/.idea/
/.idea/leetcode-pro
/.idea/inspectionProfiles
vcs.xml
vcs_old.xml
